body {
    margin: 0;
    padding: 0;
    font:normal 14px/1.5 Arial, sans-serif;
}
#bg-slideshow {
    position:fixed;
    top:0
}
#bg-slideshow img {
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:1;
    left:0;
    top:0
}
#wrapper {
    width:450px;
    margin:70px auto 0 auto;
    padding:20px;
    position:relative;
    z-index:5;
    background:#fff;
    -webkit-box-shadow:0 0 0 15px rgba(255,255,255,.3);
    -moz-box-shadow:0 0 0 15px rgba(255,255,255,.3);
    box-shadow:0 0 0 15px rgba(255,255,255,.3)
}
/*tambahan wib */
@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
    .login-page {
            margin-top: -50px;
        }
    #wrapper {
    width:350px;
    }
    .login-box, .register-box {
    width: 300px;
    margin: 7% auto;
    }
}
@media screen and (max-width: 320px) {
    body {
    }
    #wrapper {
    width:100%;
    }
    .login-box, .register-box {
    width: 80%;
    margin: 7% auto;
    }
}